<h1>VENTAS</h1>

<button class="btn btn-primary" (click)="mostrar(1)">Insertar Venta</button><br><br>

<div id="formulario" *ngIf="verf==true">
    <div class="row">
        <div class="col-lg-6">
            <input type="date" class="form-control" [(ngModel)]="vent.fecha"><br>
            <span style="color: red;" *ngIf="validfecha==false">Insertar Fecha</span>
        </div>
        <div class="col-lg-6">
            <input type="text" id="cliente" class="form-control" [(ngModel)]="vent.cliente" placeholder="Ingrese cliente"><br>
            <span style="color: red;" *ngIf="validcliente==false">Insertar Cliente</span>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <select id="fo_producto" class="form-control form-select" [(ngModel)]="vent.fo_producto">
            <option value="0" label="Seleccionar producto">Seleccionar producto</option>
            <option *ngFor="let itemp of productos" value="{{itemp.id_productos}}" label="{{itemp.nombre}}">{{itemp.nombre}}</option>
           </select>
            <span style="color: red;" *ngIf="validfoproducto==false">Insertar producto</span>
        </div>
        <div class="col-lg-6">
            <input type="number" id="cantidad" class="form-control" [(ngModel)]="vent.cantidad" placeholder="Cantidad"><br>
            <span style="color: red;" *ngIf="validcantidad==false">Insertar Cantidad</span>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <input type="number" id="subtotal" class="form-control" [(ngModel)]="vent.subtotal" placeholder="Subtotal"><br>
            <span style="color: red;" *ngIf="validsubtotal==false">Insertar subtotal</span>
        </div>

        <div class="col-lg-6">
            <select id="total" class="form-control form-select" [(ngModel)]="vent.total" placeholder="total">
                <option >total</option>
               </select><br>
            <span style="color: red;" *ngIf="validtotal==false">Insertar total</span>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <select id="nom_encargado" class="form-control form-select" [(ngModel)]="vent.vendedor" placeholder="Vendedor">
                <option value="0" label="Seleccione Vendedor">Seleccionar Vendedor</option>
                <option >Alejandra Sanchez B</option>
                <option >Luis Fernando B</option>
                <option >Breyner Pana</option>
               </select><br>
            <span style="color: red;" *ngIf="validvendedor==false">Insertar vendedor</span>
        </div>

    </div>

    <!--<div class="col-lg-6">
        <select id="tipo" class="form-control form-select">
                <option value="Administrador" label="Administrador">Administrador</option>
                <option value="General" label="General">General</option>
            </select>
    </div>-->
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
        <button *ngIf="beditar==false" class="btn btn-primary" (click)="ingresar()">Guardar</button>
        <button *ngIf="beditar==true" class="btn btn-primary">Editar</button>
    </div>
    <div class="col-lg-3">
        <button class="btn btn-secondary" (click)="mostrar(0)">Cancelar</button>
    </div>
    <div class="col-lg-3"></div>
</div>
<br>
<div class="table-responsive">
    <table class="table table-success table-striped" border="2">
        <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Total</th>
            <th>Vendedor</th>
        </tr>
        <!--mostrar los usuarios-->
        <tr *ngFor="let item of ventas">
            <td>{{item.fecha}}</td>
            <td>{{item.cliente}}</td>
            <td>{{item.mproducto}}</td>
            <td>{{item.cantidad}}</td>
            <td style="text-align: left;">$ {{item.subtotal}}.00</td>
            <td style="text-align: left;">$ {{item.subtotal*item.cantidad}}.00</td>
            <td>{{item.vendedor}}</td>
            <!-- <td>
                <a>
                    <span class="fas fa-edit editar" title="Editar"></span>
                </a>
                <a>
                    <span class="fas fa-trash eliminar" title="Eliminar"></span>
                </a>
            </td>-->
        </tr>
    </table>

</div>